New Unity Project/ProjectSettings/EditorBuildSettings.asset
New Unity Project/ProjectSettings/EditorBuildSettings.asset
*.apk
New Unity Project/ProjectSettings/ProjectSettings.asset
New Unity Project/Assembly-CSharp.csproj
New Unity Project/Assembly-CSharp.csproj
*.csproj
New Unity Project/New Unity Project.sln
*.suo